body {
    margin: 0;
    padding-top: 60px; /* Espaço para compensar a barra fixa */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('imagens/space.jpg');
}

header {
    background: rgba(255, 255, 255, 0.2); /* Fundo semi-transparente */
    color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center; /* Centraliza os itens */
    align-items: center;
    height: 70px; /* Define a altura da barra */
    backdrop-filter: blur(10px); /* Adiciona o efeito de blur */
    -webkit-backdrop-filter: blur(10px); /* Suporte para navegadores WebKit */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    margin: 20px 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 70px; /* Espaçamento entre os links */
}

header nav ul li {
    margin: 0;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease; /* Adiciona transição ao hover */
}

header nav a:hover {
    color: #00bcd4; /* Cor ao passar o mouse */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.section {
    padding: 20px;
    background: #ffffff;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.hero-section {
    width: 90%; /* Ocupa toda a largura do site */
    height: 500px; /* Define a altura do bloco */
    background: rgba(255, 255, 255, 0.2); /* Fundo semi-transparente */
    backdrop-filter: blur(10px); /* Adiciona o efeito de blur */
    -webkit-backdrop-filter: blur(10px); /* Suporte para navegadores WebKit */
    border-radius: 20px; /* Cantos arredondados */
    display: flex; /* Alinha os itens horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    color: #ffffff; /* Cor do texto */
    margin: 20px auto; /* Adiciona espaçamento externo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
    padding: 20px; /* Espaçamento interno */
}

.hero-section h1 {
    font-size: 2.5em;
    margin: 0 0 30px; /* Adiciona 20px de espaço abaixo do h1 */
}

.hero-section p {
    font-size: 1.2em;
    margin: 0; /* Remove margens extras do parágrafo */
}

.profile-photo {
    width: 400px; /* Define o tamanho da foto */
    height: 400px; /* Define o tamanho da foto */
    border-radius: 50%; /* Torna a foto arredondada */
    margin-right: 20px; /* Espaçamento entre a foto e o texto */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona sombra à foto */
}

.hero-content {
    flex: 1; /* Faz o texto ocupar o espaço restante */
}