body {
    margin: 0;
    padding-top: 60px; /* Espaço para compensar a barra fixa */
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center; /* Centraliza os itens */
    align-items: center;
    height: 60px; /* Define a altura da barra */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    margin: 20px 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px; /* Espaçamento entre os links */
}

header nav ul li {
    margin: 0;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease; /* Adiciona transição ao hover */
}

header nav a:hover {
    color: #00bcd4; /* Cor ao passar o mouse */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.section {
    padding: 20px;
    background: #ffffff;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}